body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.journal_text {
  font-family: "Nunito", sans-serif;
  font-size: 30px;
  /* margin-top: 15em; */
  padding-left: 1em;
  /* position: absolute;
  bottom: 6em; */
}

.icon_settings {
  margin-left: 8em;
}

.greeting {
  margin-bottom: 10em;
}

.calendar-widget {
  margin-bottom: 13em;
}

blockquote {
  text-align: right;
}

align-right {
  justify-content: flex-end;
  margin-left: 10em;
}

/* .quote {
  margin-bottom: 10em;
} */

p {
  margin-bottom: 2em;
  margin-left: 1em;
}
.cardone {
  /* margin-top: 1em; */
  margin-left: 1em;
  /* position: absolute;
  bottom: 6em; */
  /* margin-right: 0.5em; */
  color: #de7119;
}

.cardtwo {
  /* margin-top: 1em; */
  /* position: absolute;
  bottom: 6em; */
  margin-right: 1em;
}
